.nav-list {
    width: 0%;
    display: flex;
}
  
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.btn {
  background-color:#f5c7f7 ;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: purple;
}

a { 
color: hotpink;
}


footer {
  margin-top: auto;
background-color:#ffc1c8;
}


body{
	min-height: 100vh;
  	display: flex;
  	flex-direction: column;
	background-color: white;
	text-align: center;
}
header{

	background-color: #f5c7f7;


}
nav{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: #ffc1c8;
}
.Personnages{
	margin-left: 10px
}
.Resume{
	margin-left: 30px
}
.Blagues{
	margin-left: 40px
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, .5);
  transition: all .3s;
}

.prev {
	left: 0;
}
	
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, .8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  display: inline-block;
  background: #ddd;
  transition: all .3s;
}

.active,
.dot:hover {
  background: #717171;
}
