
.nav-list {
    width: 0%;
    display: flex;
}
  
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}





body{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	background-color: #C7A3DD;
}
header{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #C7A3DD;

footer {
position: fixed;
padding: 10px 10px 0px 10px;
bottom: 0;
width: 100%;
height: 40px;
background: pink;
}
}
nav{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: pink
}
.Personnages{
	margin-left: 10px
}
.Resume{
	margin-left: 30px
}
.Blagues{
	margin-left: 40px
}
